/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/09/2016, 11:18:14
    Author     : marcelo
*/
body{
    background-color: #e9e9e9;
}

.linkWhite{
    color: white;
}
.linkWhite :hover{
    color: white;
}

.fonteMedia{
    font-size: 20px;
}
.fonteGrande{
    font-size: 50px;
}

#jumbotron{
    padding-top: 0px;
    padding-bottom: 10px;
    background-color: #058b11;
    color: white;
}
#jumbotron small{
    font-size: 28px;
    color: #e9e9e9;
}
#jumbotron p{
    font-size: 22px;
}

.glyphiconGrande{
    font-size: 40px;
} 
.glyphiconExtraGrande{
    font-size: 60px;
} 

.heightTumbnail{
    height: 260px;
}

#carousel-example-generic{
    margin-bottom: 20px;
}

.cabecalhoColuna{
    width: 100%;
    position: relative;
    border-bottom: 1px solid;
    border-color: #e9e9e9;
    margin-bottom: 15px;
}